@import url(../css/navigation.css);

form{
	border-radius: 5px;
    background-color: #333;
    padding: 20px;
    width: 30%;
    margin: 70px auto;
    box-shadow: 0 0 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3{
	color:white;
	margin-left:120px;
}


p {
	font-size:15px;
	font-weight:bold;
	margin-left:50px;
}

label{
	color: white;
	display: block;
	font-size: 15px;
}

input[type=text], input[type=password]{
	width: 350px;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
}

#submit,#cancel{
	font-size: 18px;
	margin-top: 15px;
	background: linear-gradient(#605f5f 5%, #827f7f 100%);
	border: 1px solid #0F799E;
	padding: 7px 35px;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
	margin-left:20px;
}

#submit:hover,#cancel:hover{
	background: linear-gradient(#827f7f 5%, #605f5f 100%);
}